@use './core/reset';

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --clr-gunmetal: #253347;
  --clr-dark-electric-blue: #5e6e85;
  --clr-borders: #d8e2e7;
  --clr-white: #ffffff;
  --clr-blue: #345ff6;

  --font-inter: 'Inter', 'sans-serif';
}

body {
  font-family: var(--font-inter);
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;

  position: absolute;
  width: 100%;

  margin-top: 2rem;

  img {
    width: 40px;
  }

  @media screen and (min-width: 1440px) {
    justify-content: flex-start;
    max-width: 1160px;

    right: 50%;
    transform: translateX(50%);

    img {
      width: 64px;
    }
  }
}

/*===RESUSED CLASSES===*/
.hidden {
  display: none !important; // override id values
}

.tablet-text-break {
  display: none;
  @media screen and (min-width: 768px) {
    display: unset;
  }
}

/*===HERO SECTION===*/
.landing-hero {
  .wrapper {
    text-align: center;

    padding-top: 96px;
    padding-inline: 24px;
    padding-bottom: 12rem;

    background: linear-gradient(
      290.1deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
    border-radius: 0px 0px 35px 35px;
  }

  .heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--clr-gunmetal);
  }

  .hero-snippet {
    margin-top: 1rem;
    color: var(--clr-dark-electric-blue);
    line-height: 150%;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1400px;
    margin-inline: auto;

    .wrapper {
      max-width: 978px;
      text-align: left;
      padding: 7rem;
      padding-top: 14rem;
      padding-bottom: 10rem;
    }

    .heading {
      font-size: 4rem;
    }

    .hero-snippet {
      max-width: 465px;
      margin-top: 2rem;
    }
  }
}

/*===BMI DETAILS CARD===*/
.details-card {
  width: calc(100% - 2rem);
  margin-inline: auto;
  background-color: var(--clr-white);

  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;

  text-align: left;
  padding: 1.5rem;

  margin-top: -9rem;

  .details-heading {
    font-weight: 600;
    font-size: 1.35rem;
    color: var(--clr-gunmetal);
  }

  @media screen and (min-width: 768px) {
    width: calc(100% - 5rem);
  }

  @media screen and (min-width: 1440px) {
    max-width: 565px;
    margin-top: -32rem;
    transform: translateX(300px);
  }
}

.bmi-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.custom-radio-btn {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 1.75rem;

  .radio-icon {
    width: 31px;
    height: 31px;

    border-radius: 100%;

    display: grid;
    place-items: center;

    border: 1px solid var(--clr-borders);
  }

  p {
    font-weight: 600;
  }

  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked ~ .radio-icon {
    background-color: rgba(52, 95, 246, 0.15);

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;

      border-radius: 100%;

      background-color: var(--clr-blue);
    }
  }
}

.inputs-container {
  margin-top: 1.5rem;

  .custom-input {
    font-size: 0.875rem;

    .input-label {
      color: #5e6e85;

      display: block;
    }

    .input-wrapper {
      position: relative;

      input[type='number'] {
        border: 1px solid #d8e2e7;
        padding: 1rem;
        border-radius: 12px;

        font-size: 1.5rem;
        color: var(--clr-gunmetal);
        font-weight: 600;
        width: 100%;

        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }

      .measurement {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);

        font-size: 1.5rem;
        color: var(--clr-blue);
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

#imperial-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.bmi-results {
  background: linear-gradient(90deg, #345ff7 0%, #587dff 100%);

  margin-top: 1.5rem;
  padding: 1.5rem;

  color: var(--clr-white);
  border-radius: 16px;

  .bmi-heading {
    font-weight: 600;
  }

  #bmi-result {
    display: block;

    margin-top: 8px;

    font-size: 3rem;
    font-weight: 600;
  }

  .bmi-details {
    margin-top: 1.5rem;
    line-height: 150%;
    em {
      font-weight: 600;
    }
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;

    padding: 2rem;

    .bmi-details {
      margin-top: 0;
    }
  }
}

/*===BMI EXPLANATION===*/
.bmi-explanation {
  margin-top: 3rem;

  .bmi-explanation-content {
    width: calc(100% - 2.5rem);
    margin-inline: auto;
    margin-top: 2rem;

    .arrow-img {
      display: none;
    }

    .heading {
      font-weight: 600;
      color: var(--clr-gunmetal);
      font-size: 32px;
    }

    .text {
      margin-top: 2rem;
      color: var(--clr-dark-electric-blue);
      line-height: 150%;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 5rem;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      align-items: center;

      transform: translateX(-50px);

      img {
        max-width: 110%;
        transform: translateX(-25px);
      }
    }
  }

  @media screen and (min-width: 1440px) {
    margin-top: 10rem;

    .bmi-explanation-content {
      position: relative;
      transform: translateY(50px);

      .arrow-img {
        display: block;
        rotate: -110deg;

        position: absolute;
        top: -160px;
        right: 0px;
      }

      .heading {
        font-size: 2.5rem;
      }
    }

    .wrapper {
      max-width: 1160px;
      margin-inline: auto;
      gap: 8rem;

      transform: translateX(0);

      img {
        max-width: 100%;
        transform: translateX(0);
      }
    }
  }
}

/*===BMI ADVICE===*/
.bmi-advice {
  background: linear-gradient(
    290.1deg,
    rgba(214, 230, 254, 0.25) 0%,
    rgba(214, 252, 254, 0) 100%
  );

  padding: 1.5rem;
  padding-top: 56px;
  padding-bottom: 56px;

  margin-top: 76px;

  .advice-card {
    margin-top: 32px;

    .advice-content {
      .heading {
        margin-top: 1.5rem;

        font-size: 1.5rem;
        font-weight: bold;
        color: var(--clr-gunmetal);
      }

      .text {
        margin-top: 1.5rem;

        line-height: 150%;
        color: var(--clr-dark-electric-blue);
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding-inline: 3rem;

    .advice-card {
      display: flex;
      gap: 2rem;
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 1400px;
    margin-inline: auto;

    border-radius: 1rem;
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3rem;
      max-width: 1160px;
      margin-inline: auto;
    }

    .advice-card {
      display: block;
    }
  }
}

/*===LIMIATIONS===*/
.limiations {
  text-align: center;
  margin-top: 4.5rem;
  padding-bottom: 6rem;

  .wrapper {
    width: calc(100% - 3.5rem);
    margin-inline: auto;

    display: grid;
    gap: 1.5rem;
  }

  .text-content {
    .heading {
      color: var(--clr-gunmetal);
      font-size: 2rem;
      font-weight: 600;
    }

    .text {
      margin-top: 1.5rem;
      color: var(--clr-dark-electric-blue);
      line-height: 150%;
    }
  }

  .arrow-img {
    display: none;
  }

  .limitation-card {
    background-color: var(--clr-white);
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    padding: 1.5rem;

    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .text {
      text-align: left;
      margin-top: 1.5rem;
      color: var(--clr-dark-electric-blue);
      line-height: 150%;
    }
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      width: calc(100% - 5rem);
    }

    .text-content {
      grid-column: 1/3;
      margin-bottom: 2rem;
    }

    .limitation-card:nth-child(7) {
      transform: translateX(50%);
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 1160px;
    margin-inline: auto;

    text-align: left;

    .wrapper {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }

    .text-content {
      max-width: 560px;
      .heading {
        font-size: 3rem;
      }
    }

    .gendar-card {
      transform: translateX(-75px);
    }

    .arrow-img {
      display: block;
      transform: translateX(150px);
    }

    .limitation-card:nth-child(6) {
      transform: translateX(180px);
    }
  }
}
