@use './core/reset';

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  color: #fff;
}

.main-wrapper {
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 6rem;
  }
}

.tablet-only {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

/*===BACKGROUND CLASSES===*/
.morning {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('/assets/mobile/bg-image-daytime.jpg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/assets/tablet/bg-image-daytime.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/assets/desktop/bg-image-daytime.jpg');
    background-size: cover;
  }
}

/*===QUOTE BLOCK===*/
.quote-block {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  button {
    width: 40px;
    img {
      width: 100%;
    }
  }

  .quote {
    line-height: 150%;
    font-size: 0.75rem;
  }

  .author {
    display: block;
    margin-top: 8px;

    font-size: 0.75rem;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    .quote,
    .author {
      font-size: 1.125rem;
    }

    .author {
      margin-top: 1.5rem;
    }
  }
}

/*===TIMEZONE BLOCK===*/
.timezone-block {
  margin-top: auto;

  .timezone-details {
    .greetings-message {
      text-transform: uppercase;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      letter-spacing: 3px;
    }

    .current-time {
      font-size: 6.25rem;
      font-weight: 700;
      margin-top: 1rem;
      .timezone {
        font-weight: 400;
        font-size: 1rem;
      }
    }

    .location {
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 1rem;
      letter-spacing: 3px;
    }
  }

  .expand-details-btn {
    background-color: #fff;
    margin-top: 2rem;
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    gap: 1rem;
    border-radius: 2rem;
  }

  @media screen and (min-width: 768px) {
    .timezone-details {
      .greetings-message {
        font-size: 1.125rem;
      }

      .current-time {
        font-size: 10.938rem;
        .timezone {
          font-size: 2rem;
        }
      }

      .location {
        font-size: 1.125rem;
      }
    }

    .expand-details-btn {
      margin-top: 5rem;
    }
  }
}

/*===EXTRA DETAILS BLOCK===*/
.extra-details {
  display: grid;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20.3871px);

  padding: 4rem 1.5rem;

  //   transform: translateY(-100%);
  .center-divider {
    display: none;
  }

  .detail-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #303030;

    .title {
      font-size: 0.625rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .detail {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 6rem;
    gap: 6rem;

    .detail-block {
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 0.8rem;
      }

      .detail {
        font-size: 40px;
        margin-top: 1rem;
      }
    }
  }
}
